* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'montserrat';
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(21, 21, 21);
}

.conteiner {
    width: 100%;
    height: 100vh;
}

.site1 {
    width: 100%;
    height: 90%;
    background-image: url('/img/PG-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

.site1 > .box-modifiers {
    height: 100%;
    width: 100%;
    background-color: rgba(21, 21, 21, 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.site1 > .box-modifiers > article {
    width: 316px;
    height: 540px;
    margin-right: 5%;
}

.site1 > .box-modifiers > article img {
    width: 207px;
    height: 62px;
}

.site1 > .box-modifiers > article h2 {
    font-weight: 900;
    font-size: 30px;
    margin-top: 30px;
}

.site1 > .box-modifiers > article > h2 span {
    color: rgb(21, 21, 21);
    background-color: #f3ac39;
}

.site1 > .box-modifiers > article .corpo {
    font-size: 15px;
    margin-top: 30px;
}

.site1 > .box-modifiers > article .preco {
    margin-top: 30px;
}

.site1 > .box-modifiers > article > .preco #preco-total {
    font-weight: bold;
    font-size: 14px;
    opacity: 0.6;
}

.site1 > .box-modifiers > article > .preco #preco-parcelado {
    font-size: 24px;
    font-weight: bold;
}

.site1 > .box-modifiers > article > .preco #preco-parcelado span {
    font-size: 14px;
    vertical-align: super;
}

.site1 > .box-modifiers > aside {
    width: 697px;
    height: 502px;
}

.site1 > .box-modifiers > aside figure {
    width: 96.9%;
    height: 370px;
    background-color: rgb(21, 21, 21);
    border: 12px solid rgba(241,194,17, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site1 > .box-modifiers > aside > figure img {
    width: 450px;
    height: 144px;
}

.site1 > .box-modifiers > aside button {
    width: 100%;
    height: 62px;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    font-size: large;
    background: linear-gradient(90deg, #f1bf11, #f22b5a);
    margin-top: 30px;
    cursor: pointer;
    animation: giggle 1.2s ease-in-out infinite alternate;
}

.site1 > .box-modifiers > aside > button > svg {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-family: monospace;
}

@keyframes giggle {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-7px);
    }
}

.site2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.site2 > div {
    width: 28%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

}

.site2 > div svg {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.site2 > div h2 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 18px;
}

.site2 > div p {
    text-align: center;
    color: #cbcbcb;
    font-size: 15px;
}

.site3 {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site3 > article {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.site3 > article .content {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.site3 > article .header {
    width: 70%;
    height: 30%;
}

.site3 > article .header h1 {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Arial';
    margin-bottom: 10px;
}

.site3 > article .header p {
    font-size: 18px;
}

.site3 > article .content-box {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.site3 > article > .content-box div {
    width: 40%;
    height: auto;
    padding: 40px;
}

.site3 > article > .content > .content-box svg {
    width: 31px;
    height: 31px;
    margin-bottom: 20px;
}

.site3 > article > .content > .content-box h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.site3 > article > .content > .content-box p {
    font-size: 14px;
    color: #bebdbd;
}

.site3 > article > figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site3 > article > figure img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
}